body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: gray;
  background-color: #e6e6e6;
}

.App {
  display: flex;
  justify-content: center;
}

.flex-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.grow-1 {
  flex-grow: 1;
}

.todo-btn {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}

.left-align-row-pad {
  padding: .75rem .75rem .75rem .5rem;
  box-sizing: border-box;
}

.pd-sm {
  padding: .5rem;
}
