body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: black;
}

.flex-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.grow-1 {
  flex-grow: 1;
}

.todo-btn {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}

.left-align-row-pad {
  padding: 1rem 1rem 1rem .5rem;
  box-sizing: border-box;
}

.pd-sm {
  padding: .5rem;
}
