h1 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body, .storybook-body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: gray;
  background-color: #f2f2f2;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-title {
  font-size: 6rem;
  color: rgba(175, 47, 47, 0.2);
  font-style: none;
}

.pd-title {
  padding: 1rem;
  box-sizing: border-box;
}

.text-main {
  font-size: 1.5rem;
}
.pd-main {
  padding: 0.5rem;
  box-sizing: border-box;
}

.text-sub {
  font-size: .75rem;
}
.pd-sub {
  padding: .5rem;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  align-items: center;
}

.grow-1 {
  flex-grow: 1;
}

.space-btwn {
  justify-content: space-between;
}

.todo-btn {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
}

.left-align-row-pad {
  padding: .5rem .5rem .5rem .5rem;
  box-sizing: border-box;
}
