.status-toggle {
  border: 0.5px solid #e6e6e6;
  background-color: transparent;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.status-toggle.completed {
  opacity: 0.5;
  filter: brightness(70%);
  /*background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' …1 3 3 8-8 1 1-9 9-4-4z' fill='%232EB260' fill-rule='evenodd'/%3E%3C/svg%3E");*/
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIGZpbGw9IiMyZWNjNzEiID4gICAgPHBhdGggc3R5bGU9InRleHQtaW5kZW50OjA7dGV4dC1hbGlnbjpzdGFydDtsaW5lLWhlaWdodDpub3JtYWw7dGV4dC10cmFuc2Zvcm06bm9uZTtibG9jay1wcm9ncmVzc2lvbjp0YjstaW5rc2NhcGUtZm9udC1zcGVjaWZpY2F0aW9uOkJpdHN0cmVhbSBWZXJhIFNhbnMiIGQ9Ik0gMjguMjgxMjUgNi4yODEyNSBMIDExIDIzLjU2MjUgTCAzLjcxODc1IDE2LjI4MTI1IEwgMi4yODEyNSAxNy43MTg3NSBMIDEwLjI4MTI1IDI1LjcxODc1IEwgMTEgMjYuNDA2MjUgTCAxMS43MTg3NSAyNS43MTg3NSBMIDI5LjcxODc1IDcuNzE4NzUgTCAyOC4yODEyNSA2LjI4MTI1IHoiIGNvbG9yPSIjMDAwIiBvdmVyZmxvdz0idmlzaWJsZSIgZm9udC1mYW1pbHk9IkJpdHN0cmVhbSBWZXJhIFNhbnMiPjwvcGF0aD48L3N2Zz4=');
  border: 0.5px solid #2ecc71;
}

.task-item-text.completed {
  color: #e6e6e6;
  text-decoration: line-through;
}

.clear-task {
  color: transparent;
  font-size: 0.75rem;
}

.task-item:hover .clear-task:hover {
  color: rgba(175, 47, 47, 0.5);
}

.task-item:hover .clear-task {
  color: rgba(175, 47, 47, 0.2);
}

.task-item, .task-input {
  border-bottom: 1px solid #e6e6e6;
}
