.flex-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.task-list-wrapper {
  background-color: white;
  width: 50%;
  box-shadow: 2px 10px 20px #cccccc;
}

.task-list-footer {
  width: 100%;
}

.status-filter {
  justify-content: center;
}

.filter-button.selected-filter {
  border: 1px solid rgba(175, 47, 47, 0.2);
  border-radius: .25rem;
}
