.flex-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.task-list-wrapper {
  background-color: white;
  width: 50%;
  box-shadow: 2px 10px 20px #cccccc;
}

.select-all-toggle {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIzMiIgaWQ9ImNoZXZyb24tZG93biIgdmlld0JveD0iMCAwIDMyIDMyIiB3aWR0aD0iMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgMTIgTDE2IDI2IEwzMSAxMiBMMjcgOCBMMTYgMTggTDUgOCB6Ii8+PC9zdmc+');
  height: 2rem;
  width: 2rem;
  opacity: 0.1;
  background-size: 16px 16px;
}

.task-input-text {
  border: none;
  font-size: inherit;
  font-weight: 100 !important;
  font-style: italic;
}

.status-filter {
  justify-content: center;
}

.filter-button {
  margin: 0.5rem;
}

.filter-button.selected-filter {
  border: 1px solid red;
  border-radius: .25rem;
}
